.banner-wrapper {
    height: 45vh;
    background: #FFA200;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 25px 0 25px;
}

.banner-contents-wrapper {
}

#banner-title {
    font-size: calc(min(max(2rem, 4vw), 50px));
    font-weight: 700;
    margin: 25px 0 25px;
}

#banner-subtitle {
    font-size: calc(min(max(1.2rem, 4vw), 30px));
    font-weight: 500;
    margin: 25px 0 25px 0;
}

a.browse-button {
    margin: 25px 0 25px 0;
    display: inline-block;
    padding: 0.5em 1.5em;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    background-color: #000;
    color: #fafafa;
    text-align: center;
    transition: all 0.2s;
}
a.browse-button:hover {
    background-color: #323232;
}

.browse-button {
    color: #000;
    background-color: #FFA200;
}

.brands-section-wrapper {
    background-color: #D2D2D2;
    padding: 145px 0 145px 0;
}

.brands-section {
    display: flex;
    color: #000;
}

.brands-section__text-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
}

.brands-section__img {
    width: 100%;
}

.brands-section__img-wrapper {
    text-align: center;
}

.brands-section__text {
}

.brands-section__text--description {
    width: 50%;
    margin: 0 auto;
}

.bike-logos-img {
    width: 45%;
    height: auto;
}

/*Media Queries*/

@media (max-width: 369px) {
    #banner-title {
        font-size: calc(min(max(1.6rem, 4vw), 50px));
        font-weight: 700;
        margin: 25px 20px 25px 20px;
    }
}
