@model LearnerBikes.Models.Contact

<link rel="stylesheet" href="~/css/contact.css" />

<div class="contact-wrapper">
    <div class="form-box-wrapper">
        <div class="form-wrapper">
            <div class="title-tick-wrapper">
                <img class="tick-image" src="~/images/tick.png" />
                <h2>Your message has been sent successfully.</h2>
            </div>
            <p>We'll get back to you as soon as possible.</p>
            <br />
            <div class="back-to-home-wrapper">
                <a class="submit-button back-to-home" asp-action="Index" asp-controller="Home">Back To Home</a>
            </div>           
        </div>

    </div>

</div>
