@model LearnerBikes.Models.Contact

<link rel="stylesheet" href="~/css/contact.css" />

<div class="contact-wrapper">
    <div class="form-box-wrapper">
        <div class="form-wrapper">
            <h2>How can we help?</h2>
            <form id="contactForm" asp-action="Index" asp-controller="ContactUs">
                <div class="title-validation-wrapper">
                    <h4>Name</h4>
                    <span asp-validation-for="senderName"></span>
                </div>
                <input type="text" asp-for="senderName" placeholder="Your name" />
                <br /> <br />
                    <div class="title-validation-wrapper">
                        <h4>Email</h4>
                        <span asp-validation-for="senderEmail"></span>
                    </div>
                
                <input type="email" asp-for="senderEmail" placeholder="Your email address" />
                <br /> <br />
                    <div class="title-validation-wrapper">
                        <h4>Message</h4>
                        <span asp-validation-for="senderMessage"></span>
                     </div>               
                <textarea class="msg-textarea" asp-for="senderMessage" placeholder="Enter your message..."></textarea>
                <br /> <br />
                <div class="submit-button-wrapper">
                    <input class="submit-button" type="submit" value="Send message" onclick="sendEmail()" />
                </div>
            </form>
        </div>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
@*    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}