@model LearnerBikes.Models.Contact

<link rel="stylesheet" href="~/css/contact.css" />

<div class="contact-wrapper">
    <div class="form-box-wrapper">
        <div class="form-wrapper">
            <h2>How can we help?</h2>
            <form id="contactForm" asp-action="Index" asp-controller="ContactUs">
                <p>Email</p>
                <input type="email" asp-for="senderEmail" />
                <br /> <br />
                <p>Subject</p>
                <input type="text" asp-for="senderSubject" />
                <br /> <br />
                <p>Message</p>
                <textarea class="msg-textarea" asp-for="senderMessage"></textarea>
                <br /> <br />
                <input class="submit-button" type="submit" value="Send message" onclick="sendEmail()" />
            </form>
        </div>
        
    </div>
    
</div>

