<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#8899a6" />
    <title>@ViewData["Title"] - LearnerBikes</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="site-header">
        <div class="header-wrapper">
            <div class="logo-wrapper">
                <a asp-controller="Home" asp-action="Index" class="header-logo"> LearnerBikesDB</a>
            </div>

            <div class="hamburger-wrapper">
                <img class="hamburger-menu" onclick="toggleDisplay('navbarToggle')" src="~/images/hamburger.png" />
            </div>

            <div class="navbar-wrapper" id="navbarToggle">
                
                <ul class="navbar">
                    <li><a class="navbar-hyperlink" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li id="center-nav-styling"><a class="" asp-area="" asp-controller="BikeList" asp-action="Index">Browse</a></li>
                    <li><a class="navbar-hyperlink" asp-area="" asp-controller="ContactUs" asp-action="Index">Contact Us</a></li>
                </ul>
            </div>
        </div>        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="main-footer">
        <p id="footer-copyright">Copyright © 2021 Jordan Lam, Inc. All Rights Reserved.</p>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
