@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/home.css" />

<div class="home-wrapper">

    <div class="banner-wrapper-outer">
        <div class="banner-wrapper">
            <div class="banner-contents-wrapper">
                <div class="banner-contents">
                    <h1 class="banner-title">The Learner Motorcycles Database</h1>
                    <p class="banner-subtitle">Browse through a comprehensive list of 125cc motorcycles and compare their specs.</p>
                    <a asp-controller="BikeList" asp-action="Index" class="browse-button">Browse All Bikes</a>
                </div>
                <div class="banner-img-wrapper">
                    <img src="~/images/landing-page-image.png" class="banner-img" alt="Image of general website showing bike listings in a grid format" />
                </div>
            </div>
        </div>
    </div>

    <div class="brands-section-wrapper-outer">
        <div class="banner-wrapper">
            <div class="banner-contents-wrapper">
                <div class="banner-img-wrapper">
                    <img src="/images/bike-logos.png" class="bike-logos-img" alt="Image of popular motorcycle brand logos grouped together" />
                </div>
                <div class="banner-contents">
                    <h1 class="makes-title">Explore A Complete List Of All 125cc Bikes</h1>
                    <p class="makes-subtitle">Inclusive of all brands, you'll be sure to consider all possible bikes to help make a better informed purchasing decision.</p>
                </div>
            </div>
        </div>
    </div>

</div>
