@model LearnerBikes.Models.BikeListViewModel

<link rel="stylesheet" href="~/css/bikelist.css" />

<div class="content-wrapper">
    <div class="filter-section-wrapper">
        <div class="filter-icon-wrapper">
            <img class="filter-icon" src="~/images/filtericon.png" onclick="toggleFilter('filter')" />
        </div>
        <div class="filter-wrapper" id="filter">

            <form id="bikeFilterForm" onchange="applyFilters()" asp-action="Index" asp-controller="BikeList">
                <div class="filter">
                    <div class="select-dropdown-wrapper">
                        <p class="filter-title">Make</p>
                        <select class="select-dropdown" asp-for="BikeFilters.Make">
                            <option selected="selected" value="Any Make">Make (Any)</option>
                            <option value="Aprilia">Aprilia</option>
                            <option value="Honda">Honda</option>
                            <option value="KTM">KTM</option>
                            <option value="Yamaha">Yamaha</option>
                        </select>
                    </div>
                </div>

                <div class="filter">
                    <div class="select-dropdown-wrapper">
                        <p class="filter-title">Age</p>
                        <select class="select-dropdown" asp-for="BikeFilters.Age">
                            <option selected="selected" value="0">Up To (Any)</option>
                            <option value="1">Up to 1 year</option>
                            <option value="2">Up to 2 years</option>
                            <option value="3">Up to 3 years</option>
                            <option value="4">Up to 4 years</option>
                            <option value="5">Up to 5 years</option>
                            <option value="6">Over 5 years</option>
                        </select>
                    </div>
                </div>

                <div class="filter">
                    <div class="select-dropdown-wrapper">
                        <p class="filter-title">Bike Type</p>
                        <select class="select-dropdown" asp-for="BikeFilters.Type">
                            <option selected="selected" value="Any Type">Type (Any)</option>
                            <option value="Supersport">Supersport</option>
                            <option value="Naked">Naked</option>
                            <option value="Adventure">Adventure</option>
                            <option value="Cruiser">Cruiser</option>
                        </select>
                    </div>
                </div>

            </form>
        </div>

    </div>

    <div class="bike-list-wrapper">
        @if (Model.Bikes.Count() > 0)
        {
            <div class="card-wrapper">
                @foreach (var bike in Model.Bikes)
                {
                    <div class="bike-card">
                        <img class="bike-image" src="@bike.ImageUrl" />
                        <h3>@bike.Make @bike.Model</h3>
                    </div>
                }
            </div>
        }
        else
        {
            <p>Could not find any bikes.</p>
        }
    </div>
    <div class="scroll-top-wrapper">
        <button id="scrollToTopBtn"><img src="~/images/up-arrow.png" class="up-arrow-icon" /></button>
    </div>
</div>

@{
ViewData["Title"] = "Browse";
}