@model IEnumerable<LearnerBikes.Models.Bike>

<link rel="stylesheet" href="~/css/bikelist.css" />

<div class="content-wrapper">
    <div class="filter-section-wrapper">
        <div class="filter-icon-wrapper">
            <img class="filter-icon" src="~/images/filtericon.png" onclick="toggleDisplay('filter')" />
        </div>
        <div class="filter-wrapper" id="filter">
            <a asp-controller="BikeList" asp-action="Index" asp-route-filterName="make" asp-route-filterValue="Aprilia">Aprilia</a>
            <a asp-controller="BikeList" asp-action="Index" asp-route-filterName="make" asp-route-filterValue="KTM">KTM</a>
            <a asp-controller="BikeList" asp-action="Index" asp-route-filterName="make" asp-route-filterValue="Yamaha">Yamaha</a>
            <a asp-controller="BikeList" asp-action="Index" asp-route-filterName="make" asp-route-filterValue="Honda">Honda</a>
        </div>

    </div>

    <div class="bike-list-wrapper">
        @if (Model.Count() > 0)
        {
        <div class="card-wrapper">
            @foreach (var bike in Model)
            {
            <div class="bike-card">
                <img class="bike-image" src="@bike.ImageUrl" />
                <h2>@bike.Make @bike.Model</h2>
            </div>
            }
        </div>
            }
            else
            {
            <p>Could not find any bikes.</p>
            }
    </div>
</div>

@{
ViewData["Title"] = "Browse";
}